<md-toolbar color="warn">
    <a routerLink="/dashboard" md-button>
        <h1 class="text-accent">Star Wars</h1>
    </a>

    <div class="title-container">
        <div class="title-button-row">
            <a routerLink="/dashboard" routerLinkActive="router-link-active" md-button>
                <span>Films</span></a>
            <a routerLink="/characters" routerLinkActive="router-link-active" md-button>
                <span>Characters</span></a>
            <a routerLink="/planets" routerLinkActive="router-link-active" md-button>
                <span>Planets</span></a>

            <md-menu #menu="mdMenu">
                <a routerLink="/vehicles" routerLinkActive #rla="routerLinkActive" md-menu-item>
                    <button md-menu-item>Vehicles</button></a>
                <a routerLink="/vehicles/starships" md-menu-item>
                <button md-menu-item>Starships</button></a>
            </md-menu>

            <button md-button [mdMenuTriggerFor]="menu" [ngClass]="rla.isActive ? 'router-link-active' : ''">
                Vehicles
            </button>

            
        </div>
    </div>
</md-toolbar>