<md-toolbar color="warn">
    <a routerLink="/dashboard" md-button>
        <h1>Star Wars</h1>
    </a>

    <div class="title-container">
        <div class="title-button-row">
            <a routerLink="/films" routerLinkActive="router-link-active" md-button>
                <span>Films</span></a>
            <a routerLink="/characters" routerLinkActive="router-link-active" md-button>
                <span>Characters</span></a>
            <a routerLink="/planets" routerLinkActive="router-link-active" md-button>
                <span>Planets</span></a>
            <a routerLink="/vehicles" routerLinkActive="router-link-active" md-button>
                <span>Vehicles</span></a>
        </div>
    </div>
</md-toolbar>

<md-toolbar color="primary">
    <div class="title-container">
        <div [ngSwitch]="router.url">
            <div *ngSwitchCase="'/films'">
                <span>films</span>
            </div>

            <div *ngSwitchCase="'/characters'">
                <a routerLink="/characters/species" routerLinkActive="router-link-active" md-raised-button color="accent">
                    <span>Species</span>
                </a>
            </div>

            <div *ngSwitchCase="'/characters/species'">
                <a routerLink="/characters" routerLinkActive="router-link-active" md-raised-button color="accent">
                    <span>Characters</span>
                </a>
            </div>

            <div *ngSwitchCase="'/vehicles'">
                <a routerLink="/vehicles/starships" routerLinkActive="router-link-active" md-raised-button color="accent">
                    <span>Starships</span>
                </a>
            </div>

            <div *ngSwitchCase="'/vehicles/starships'">
                <a routerLink="/vehicles" routerLinkActive="router-link-active" md-raised-button color="accent">
                    <span>Vehicles</span>
                </a>
            </div>


        </div>
    </div>

</md-toolbar>