/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Raleway);

.text-primary {
    color: #9E9E9E!important;
}

.text-accent {
    color: #FFC100!important;
}

.text-white {
    color: #FFF!important;
}

.background-primary {
    background-color: #9E9E9E!important;
}

.background-accent {
    background-color: #FFC100!important;
}

.background-black {
    background-color: black!important;
}

.title-button-row {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-container {
    width: 25em;
}

.shift {
    margin: 1.5em;
}

.side-nav-container {
    height: 47em;
    width: 100%;
}

.side-nav-container md-sidenav {
    max-width: 25%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

body {
    margin: 0;
    height: 100%!important;
}

p {
    margin: 1.5em;
}

.opening {
  margin-top: 0em;
  padding-left: 15em;
  padding-right: 15em;
  background-color: black;
  min-height: 13em;
  text-align: center!important;
}

md-list {
    border-right: 1px solid gray;
    cursor: pointer;
    overflow: scroll;
}

md-card, md-menu {
    color: #FFC100!important;
}

table {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

* {
    font-family: 'Raleway'!important;
    font-weight: 900!important;
}

md-tab-body {
  background-color: black!important;
}


