/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Raleway';

.text-primary {
    color: #9E9E9E!important;
}

.text-accent {
    color: #FFC100!important;
}

.text-white {
    color: #FFF!important;
}

.background-primary {
    background-color: #9E9E9E!important;
}

.background-accent {
    background-color: #FFC100!important;
}

.background-black {
    background-color: black!important;
}

.title-button-row {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-container {
    width: 25em;
}

.shift {
    margin: 1.5em;
}

.side-nav-container {
    height: 100em;
    width: 100%;
}

.side-nav-container md-sidenav {
    max-width: 25%;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFC100!important;
}

p {
    margin: 1.5em;
}

md-card, md-menu {
    color: #FFC100!important;
}

* {
    font-family: 'Raleway'!important;
    font-weight: 900!important;
}